@import "colors";
@import "mixins";

footer{
  color:$text-color;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 700px;
  @include display();

  .social{
    position: relative;
    display: flex;

    li{
      list-style: none;

      a{
        color:$text-color;
        text-decoration: none;
        margin-right: 20px;
        &:hover{
          color: $hover-color;
        }
      }
    }
  }

  .copyright{
    top: 0;
    font-size: 22px;
    color: $text-color;
    font-weight: bold;
  }

}
